@{
    ViewBag.Title = "Contact";
}

<!-- banner slider-->
<div class="inner-banner-w3ls">
    <div class="container">
        <!-- page details -->
        <div class="breadcrumb-agile">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">Contact Us</li>
                </ol>
            </div>
        </div>
        <!-- //page details -->
    </div>
</div>
<!-- //banner slider -->
<!-- contact -->
<!-- contact info -->
<section class="banner-bottom-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-uppercase text-dark font-weight-bold mb-sm-5 mb-4">Get In Touch</h3>
        <div class="address row mb-xl-5">
            <div class="col-lg-4 address-grid-w3l">
                <div class="address-info p-5">
                    <div class="row">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Address</h6>
                            <p>
                                United Kingdom
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 address-grid-w3l my-lg-0 my-4">
                <div class="address-info p-5">
                    <div class="row">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Email</h6>
                            <p style="font-size:14px;">
                                <a href="http://www.info@proactiverelocation.com/">info@proactiverelocation.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 address-grid-w3l">
                <div class="address-info p-5">
                    <div class="row">

                        <div class="col-md-3 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>  
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Phone</h6>
                            <p>020 8396 6972</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //contact info -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 map">
            <iframe src="https://maps.google.com/maps?width=1600&amp;height=440&amp;hl=en&amp;q=London%2C%20United%20Kingdom+(Title)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
        <div class="col-md-6 main_grid_contact bg-light">
            <div class="form">
                <h4 class="text-center text-uppercase text-dark font-weight-bold mb-sm-5 mb-4">Send us a message</h4>
                <form action="#" method="post">
                    <div class="form-group">
                        <label class="mb-2">Name</label>
                        <input class="form-control" type="text" name="Name" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Email</label>
                        <input class="form-control" type="email" name="Email" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Message</label>
                        <textarea id="textarea" name="message" placeholder=""></textarea>
                    </div>
                    <div class="input-group1">
                        <input class="form-control" type="submit" value="Submit" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->
<!-- subscribe -->
<div class="subscribe-info-w3l text-center py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-uppercase text-dark font-weight-bold mb-sm-4 mb-3">
            Subscribe Our News Letter
        </h3>
        <p class="mb-5">
            For keeping upto date to you please submit your Email...
        </p>
        <form action="#" method="post">
            <input type="email" name="email" placeholder="Enter your Email..." required="">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<!-- //subscribe -->
