
@{
    ViewBag.Title = "Management";
}

<div class="inner-banner-w3ls">
    <div class="container">
        <!-- page details -->
        <div class="breadcrumb-agile">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="@Url.Action("Services","Home")">Services</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        Move Management
                    </li>
                </ol>
            </div>
        </div>
        <!-- //page details -->
    </div>
</div>
<!-- //banner slider -->
<!-- services -->
<div class="serives-agile py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-uppercase text-dark font-weight-bold mb-sm-5 mb-4">Move Management</h3>
        <hr class="style-one" />
        <p class="text-justify" style="color:black;font-size:large;">
            Relocating and looking after everything relating to your move can be a stressful and time consuming process for employees.
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            PAr can do the hard work for you by ensuring the correct removal company is used throughout the world from our knowledge and network developed over years in the industry.
            Our consultants work on behalf of your employees to arrange and manage the removal companies and freight forwarders in ensuring your employees goods are looked after and delivered with care and attention.
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            Being privately owned and independent, our consultants are here to negotiate the best deal for your employees with leading removal companies and freight forwarders.
        </p>

    </div>
</div>
