
@{
    ViewBag.Title = "Property";
}

<div class="inner-banner-w3ls">
    <div class="container">
        <!-- page details -->
        <div class="breadcrumb-agile">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="@Url.Action("Services","Home")">Services</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        Searching Property
                    </li>
                </ol>
            </div>
        </div>
        <!-- //page details -->
    </div>
</div>
<!-- //banner slider -->
<!-- services -->
<div class="serives-agile py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-uppercase text-dark font-weight-bold mb-sm-5 mb-4">Searching Property</h3>
        <hr class="style-one" />
        <p class="text-justify" style="color:black;font-size:large;">
            We appreciate that assignees property requirements are different. It’s not only the property but also the locations which we consider when working for your assignees to provide the best property solution.
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            The property finding service is managed by a locally based and dedicated property consultant, all of which have numerous years in the relocation industry. In addition to this each of your assignees will have 24 / 7 access and support to all the core information and development in their property finding experience.
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            Require a more cost efficient relocation but still wish for the local knowledge from our relocation consultants?
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            Our dedicated consultant will be on hand for every aspect of your relocation; from initial discussions with the assignee to tenancy negotiations upon finding a property.
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            In addition to this the client moving has access to PArs detailed area guides to provide additional advice and confidence in that the property location they choose is right for them. It may be unaccompanied but our attention and focus is with the client from the start of the relocation to the end.
        </p>

    </div>
</div>

