
@{
    ViewBag.Title = "Relocation";
}

<div class="inner-banner-w3ls">
    <div class="container">
        <!-- page details -->
        <div class="breadcrumb-agile">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="@Url.Action("Services","Home")">Services</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        Employees Relocation
                    </li>
                </ol>
            </div>
        </div>
        <!-- //page details -->
    </div>
</div>
<!-- //banner slider -->
<!-- services -->
<div class="serives-agile py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle text-center text-uppercase text-dark font-weight-bold mb-sm-5 mb-4">Employees Relocation</h3>
        <hr  class="style-one"/>
        <p class="text-justify" style="color:black;font-size:large;">
            PAr are here to design an employee relocation package to suit your employees, whilst ensuring the costs and benefits of a relocation service are consistent.
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            We are here to align to your companies needs for relocation and also to provide advice from our knowledge on how to create an attractive yet cost effective employee relocation package.
            Our services are provided to ensure nothing is overlooked in the relocation process and can be tailored to the cultural and budgetary requirements of the company.
        </p>
        <br />
        <p class="text-justify" style="color:black;font-size:large;">
            For further information on each area of the employee relocation service please refer to the link below.
        </p>

    </div>
</div>

